.banner {
  position: relative;

  .img-banner-homepage,
  .img-banner {
    object-fit: cover;
    border-radius: $radius;
    height: 12.5rem;
    width: 100%;
    filter: brightness(70%);
  }

  .img-banner-homepage {
    @include tablet {
      height: 6rem;
      border-radius: $radius-mobil;
    }
  }

  .img-banner {
    @include mobil {
      height: 12.5rem;
      border-radius: $radius-mobil;
    }
  }

  .banner-text {
    font-size: 2.5rem;
    color: #ffffff;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;

    @include tablet {
      font-size: 1.2rem;
      width: 85%;
    }
  }
}
