.banner {
  position: relative;

  .banner-homepage {
    @include banners;

    @include mobil {
      height: 6rem;
      border-radius: $radius-mobil;
    }
  }

  .banner-about {
    @include banners;

    @include mobil {
      height: 12.5rem;
      border-radius: $radius-mobil;
    }
  }

  .banner-text {
    font-size: 1.8rem;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;

    @include mobil {
      font-size: 1.2rem;
      width: 85%;
    }
  }
}
