.dropdown {
  display: flex;
  flex-direction: column;
  flex: 1;

  &-inner {
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 0.8rem;
    border-radius: 5px;
    position: relative;
    z-index: 1;

    @include mobil {
      padding: 0.4rem 0.5rem;
    }

    &-title {
      color: #fff;
      font-weight: 500;
      font-size: 1.1rem;

      @include mobil {
        font-size: $mobil-title-font-size * 1.1;
      }
    }

    @include mobil {
      &-button {
        img {
          width: 0.9rem;
          display: flex;
        }
      }
    }
  }
}

.show-dropdown {
  background-color: $background-color;
  display: block;
  padding: 1rem;
  border-radius: 0 0 5px 5px;
  border-top: 1rem solid $background-color;
  margin-top: -1rem;
  cursor: default;
  color: $color-primary;
  font-weight: 300;
  line-height: 1.5;

  @include mobil {
    font-size: $mobil-title-font-size;
    padding: 0.6rem 1rem;
  }

  ul,
  li {
    font-weight: 300;

    @include mobil {
      font-size: $mobil-title-font-size;
    }
  }
}

.hide-dropdown {
  display: none;
}
