.dropdown {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  cursor: pointer;

  &-inner {
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 0.8rem;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;

    @include mobil {
      padding: 0.4rem 0.5rem;
      font-size: $mobil-title-size * 1.1;
      img {
        width: 0.9rem;
        display: flex;
      }
    }
  }
}

.dropdown-content {
  background-color: $background-color;
  padding: 1rem;
  border-radius: 0 0 5px 5px;
  margin: -5px 0 auto;
  cursor: default;
  transform-origin: top;
  animation: goDown 300ms;

  @include mobil {
    padding: 0.7rem 1rem;
  }

  ul,
  li {
    color: $color-primary;
    font-weight: 300;
    line-height: 1.5;

    @include mobil {
      font-size: $mobil-title-size;
    }
  }
}

.hide-dropdown {
  transform-origin: top;
  animation: goUp 300ms forwards;
}

.arrowDown {
  transform: rotate(-180deg);
  transition: transform 400ms;
}

.arrowUp {
  transform: rotate(0deg);
  transition: transform 400ms;
}
