.dropdown {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  &-header {
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 0.8rem;
    border-radius: 5px;

    h3 {
      color: #fff;
      font-weight: 500;
      font-size: 1.1rem;

      @include device(mobil) {
        font-size: $mobil-title-size * 1.1;
      }
    }

    &-button {
      cursor: pointer;
    }

    @include device(mobil) {
      padding: 0.4rem 0.5rem;
      img {
        width: 0.9rem;
        display: flex;
      }
    }
  }
}

.dropdown-content {
  background-color: $background-color;
  border-radius: 0 0 5px 5px;
  position: relative;
  padding: 0 1rem;
  top: -0.3rem;
  overflow: hidden;
  max-height: 0;
  z-index: -1;
  transform-origin: top;
  transform: translateY(-100%);
  transition: 300ms ease-in-out;

  &.visible {
    transform: translateY(0);
    padding: 1rem;
    max-height: 50rem;
  }

  @include device(mobil) {
    padding: 0 1rem;
  }

  ul,
  li {
    color: $color-primary;
    font-weight: 300;
    line-height: 1.5;

    @include device(mobil) {
      font-size: $mobil-title-size;
    }
  }
}

.arrowDown {
  transform: rotate(-180deg);
  transition: transform 400ms;
}

.arrowUp {
  transform: rotate(0deg);
  transition: transform 400ms;
}
