.slider {
  display: flex;
  position: relative;

  &-img {
    height: 23rem;
    width: 100%;
    object-fit: cover;
    border-radius: $radius;

    @include mobil {
      border-radius: $radius-mobil;
      height: 14.2rem;
    }
  }

  &-navigation {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);

    .button-prev,
    .button-next {
      padding: 1.5rem;

      @include mobil {
        padding: 0.5rem;
      }

      img {
        @include mobil {
          width: 0.8rem;
        }
      }
    }

    span {
      font-weight: 500;
      color: #fff;
      position: absolute;
      bottom: -5rem;
      left: 50%;
      transform: translate(-50%, 0);

      @include mobil {
        display: none;
      }
    }
  }
}
