.accomodation {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  cursor: default;

  &-content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @include mobil {
      flex-direction: column;
      gap: 0.8rem;
    }
  }

  &-dropdowns {
    display: flex;
    width: 100%;
    gap: 3rem;
    padding-bottom: 2.5rem;

    @include mobil {
      flex-direction: column;
      gap: 1.3rem;
      padding-bottom: 1.8rem;
    }
  }
}

.acc-text {
  @include mobil {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &-title {
    color: $color-primary;
    font-size: 2rem;
    margin-bottom: 0.3rem;

    @include mobil {
      font-size: 1rem;
    }
  }

  &-location {
    color: $color-primary;

    @include mobil {
      font-size: 0.8rem;
    }
  }

  .tags {
    display: flex;
    gap: 0.6rem;
    margin-top: 1rem;

    @include mobil {
      margin-top: 0.5rem;
    }

    .tag {
      background: $color-primary;
      text-align: center;
      min-width: 6.7rem;
      border-radius: $radius-mobil;
      padding: 0.2rem 0.5rem;

      @include mobil {
        min-width: 4.7rem;
      }

      h3 {
        color: #fff;
        font-size: 0.8rem;

        @include mobil {
          font-size: 0.6rem;
        }
      }
    }
  }
}

.host-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  @include mobil {
    flex-direction: row-reverse;
    align-items: center;
  }

  .host {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5rem;

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: cover;

      @include mobil {
        width: 32px;
        height: 32px;
      }
    }

    p {
      color: $color-primary;
      font-weight: 500;
      width: 50%;
      text-align: end;

      @include mobil {
        font-size: $mobil-title-size;
      }
    }
  }

  .rating {
    display: flex;
    gap: 0.4rem;

    img {
      @include mobil {
        height: 0.8rem;
      }
    }
  }
}
