@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

header,
main {
  margin: 0 7vw;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
}
